
	.left-sidebar .rw-sidebar {
    float: left;
    margin-left: -200px;
    border-right: 1px solid #c3cdcd;
}
.rw-sidebar {
    position: relative;
    width: 200px;
    background: #edf0f0;
    min-height: 50px;
    min-width: 50px;
}
.rw-column {
    float: left;
    display: inline-block;
    padding-bottom: 100029px;
    margin-bottom: -99999px;
 
}
.rw-sidebar .the-sidebar {
    background: inherit;
  
}.widget {
    margin: 10px 0;
    padding: 5px 20px 0;
    font-size: 13px;
}
.widget .widget-posts-list .post:last-of-type {
    border-bottom: 0;
}
.widget .widget-title-member .post {
    margin-top: 2px;
    padding: 0;
    text-align: center;
}
.widget .widget-posts-list .post {
    position: relative;
    padding: 15px 0 15px 60px;
    border-bottom: 1px solid #ddd;
   
}
.widget .widget-title-member .post .entry-photo {
    position: static;
    width: 100%;
    position: absolute;
    width: 50px;
    height: 50px;
    top: 17px;
    left: 0;
    
    
}
.widget .widget-title-member .post .entry-photo img {
     width:50px; 
    border-radius: 50%;
    margin-left: 50px;
}


.widget .widget-posts-list .post .entry-title {
    line-height: 1.3;
    display: block;
    margin-bottom: 5px;
}
.widget .widget-title-member .entry-title {
    margin-top: 70px;
    font-size:18px;
    font-family: Arial;
    margin-left: -80px;
}
.widget-posts-list img{
;
    display: inline-block;
    width: 25px;
    margin-right: 5px;
    font-size: inherit;
}
.widget-posts-list a {
    color: #384142;
    text-decoration: none;
}
.widget-posts-list a:hover {
    color: #198392;
}
.widget-posts-list a:active, a:hover {
    outline: 0;
}
.widget-posts-list a:focus, a:hover {
    color: #23527c;
    text-decoration: underline;
}

.widget.widget-menu ul {
    font-size: 14px;
    line-height: 20px;
    font-family: Arial;
}

.list-unstyled {
    padding-left: 0;
    list-style: none;
}

.sidebar-menu-items li.active {
    border-right: 3px solid #c8d9e8;
}

a {
    color: #384142;
    text-decoration: none;
}
a {
    background: transparent;
    color: #337ab7;
    text-decoration: none;
}

